# REQUIRED
SECRET_KEY="eb17ca2c09fd9cbb5404ff070f0500"
DEBUG="True"

# CONNECTION
ALLOWED_HOSTS="*"
CORS_ALLOWED_ORIGINS="https://*"
CSRF_TRUSTED_ORIGINS="http://"

# DATABASE
USE_TEST_DB="True"
DB_NAME=""
DB_USERNAME="postgres"
DB_PASSWORD=""
DB_HOST="127.0.0.1"
DB_PORT="5432"

# REDIS
REDIS_HOST="redis://127.0.0.1:6379/4"
REDIS_PREFIX="cur"

# APP DEFAULTS
DEFAULT_PAGE_SIZE="10"
DEFAULT_EMAIL_RECIPIENTS="nody@mailinator.com"
DEFAULT_PASSWORD="Default@123"
DEFAULT_OTP="123456"
DEFAULT_PROFILE_IMAGE="https://res.cloudinary.com/ddxwvys2e/image/upload/v1757875625/vecteezy_user-icon-on-transparent-background_19879186_ktgfyp.png"
MAX_PAGE_SIZE="100"

# APP INFO
PROJECT_TITLE=""
PROJECT_DESCRIPTION=""
APP_LOGO_URL="https://res.cloudinary.com/dpk6bqoj3/image/upload/v1775727703/aristotle-logo_td5scb.png"
APP_NAME="Curiosity AI"
APP_URL="http://127.0.0.1:8004"
APP_SUPPORT_ADDRESS="Nigeria"
APP_SUPPORT_EMAIL="support@aristotle.ai"
APP_SUPPORT_HOTLINE="+23481012345678"
APP_SUPPORT_URL="https://curiosity.ai/support"
APP_ENC_ENABLED="False"
API_REQUEST_LOGGING_ENABLED="False"

# ADMIN
ADMIN_EMAIL="nody@mailinator.com"
ADMIN_PASSWORD=""
ADMIN_PHONE_NUMBER="08108370072"

# MAILJET
MJ_API_KEY=""
MJ_API_SECRET=""

# EMAIL CONFIG
EMAIL_HOST="smtp.zoho.com"
EMAIL_HOST_USER="anthony.ikem@seismicconsults.com"
EMAIL_HOST_PASSWORD=""
EMAIL_PORT="465"
DEFAULT_FROM_EMAIL_SMTP="CURIOSITY-AI <anthony.ikem@seismicconsults.com>"
DEFAULT_FROM_EMAIL_MJ="communications@seismicconsults.com"

# STS CONFIG
STS_TRANSACTION_SECRET_KEY="3039493d-6e8b-4666-ab2a-13083edbf194"
STS_API_BASE_URL="http://127.0.0.1:8000/api"

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_STORAGE_BUCKET_NAME="app-bucket"
AWS_S3_REGION_NAME="us-east-1"
USES_S3_BUCKET="True"

# Google config
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY_WEB=""

# APPLE CONFIG
APPLE_CLIENT_ID=""
APPLE_CLIENT_SECRET=""

ENVIRONMENT="local"

DATA_BUCKET="AWS" #AWS/CLOUDINARY